/**
 * Form styles for the CRUD scaffolder and other standard forms.
 */
div#form-notice {
  font-style: italic;
  margin-bottom: 10px;
}

div#form-controls {
  margin-top: 10px;
}

/**
 * Table styles for the CRUD scaffolder and other listing tables.
 */
table#listing {
  border: 1px black solid;
  border-collapse: collapse;
  width: 400px;
}

table#listing td, table#listing th {
  border: 1px gray dashed;
  padding: 4px 4px 4px 4px;
}

table#listing td.delete-row {
  text-align: center;
}

.odd {
  background-color: gainsboro;
}

div#listing-controls {
  margin-top: 10px;
}